# Environments
.env
.venv
venv/
venv
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Node
node_modules/
dist/
build/
.npm

# DB
sentinel.db
chroma_db/

# IDEs
.vscode/
.idea/
*.swp
.DS_Store
